<template>
    <div class="column is-4" v-if="!isRemoved">
        <div class="card" v-if="!isDeleted">
            <header class="card-header">
                <p class="card-header-title">
                    {{ card.name || card.decryptedPassword }}
                </p>
                <a class="card-header-icon" @click.prevent="toggleShowPassword">
                    <span class="icon is-small">
                        <i :class="['fa', showPassword ? 'fa-eye-slash' : 'fa-eye']"></i>
                    </span>
                </a>
                <a href="javscript:void(0)" class="card-header-icon copy-button" :data-clipboard-text="card.decryptedPassword" @click.prevent="copyPassword">
                    <span class="icon is-small">
                        <i :class="['fa', isCopied ? 'fa-check' : 'fa-copy' ]"></i>
                    </span>
                </a>
                <a @click.prevent="toggleCard" class="card-header-icon">
                  <span class="icon">
                    <i :class="['fa', isToggled == 'none' ? 'fa-angle-left' : 'fa-angle-down']"></i>
                  </span>
                </a>
            </header>
            <div class="card-content" :style="{ display: isToggled }">
                <div class="content" v-if="!isEditing">
                    <div v-if="card.name">Application name: <em>{{ card.name }}</em></div>
                    <div v-if="card.url">URL: <em><a :href="card.url">{{ card.url }}</a></em></div>
                    <div v-if="card.username">Login/username: <em>{{ card.username }}</em></div>
                    <div v-if="card.name">
                        <div class="field">
                            <p style="margin-right:1em">Password: <em>{{ showPassword ? card.decryptedPassword : '***************' }}</em></p>
                        </div>
                    </div>
                    <div v-if="card.description">Description: <em>{{ card.description }}</em></div>
                </div>
                <div class="content" v-else>
                    <form @submit.prevent="saveCard" method="post">
                        <p><label>Application name</label> <input type="text" class="input" v-model="card.name" /></p>
                        <p><label>URL: <input type="text" class="input" v-model="card.url" /></label></p>
                        <p><label>Login/username: <input type="text" class="input" v-model="card.username" /></label></p>
                        <p>
                            <label>Password: <input type="text" class="input" v-model="card.decryptedPassword" /></label>
                            <notification v-if="error" :error="error"></notification>
                        </p>
                        <p><label>Description: <input type="text" class="input" v-model="card.description" /></label></p>
                        <input style="display: none" type="submit" />
                    </form>
                </div>
            </div>
            <footer class="card-footer">
                <a @click.prevent="editCard" class="card-footer-item" v-if="!isEditing">
                    <span class="icon is-small">
                        <i class="fa fa-pencil"></i>
                    </span>
                    <span>Edit</span>
                </a>
                <a @click.prevent="saveCard" class="card-footer-item" v-else>
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                    <span>Save</span>
                </a>
                <a @click.prevent="deleteCard" class="card-footer-item" v-if="!isEditing">
                    <span>Delete</span>
                    <span class="icon is-small">
                        <i class="fa fa-times"></i>
                    </span>
                </a>
                <a @click.prevent="editCard" class="card-footer-item" v-else>
                    <span>Cancel</span>
                </a>
            </footer>
        </div>
        <div class="card"  v-else>
            <p class="card-header-title">
                {{ card.name }} has been deleted.
            </p>
            <footer class="card-footer">
                <a @click.prevent="removeCard" class="card-footer-item">
                    <span class="icon is-small">
                        <i class="fa fa-trash"></i>
                    </span>
                    <span>Remove</span>
                </a>
                <a @click.prevent="restoreCard" class="card-footer-item">
                    <span class="icon is-small">
                        <i class="fa fa-recycle"></i>
                    </span>
                    <span>Restore</span>
                </a>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isEditing: false,
                isDeleted: false,
                isRemoved: false,
                showPassword: false,
                isCopied: false,
                isToggled: "block",
                error: false
            }
        },
        props: ['card'],
        methods: {
            editCard() {
                this.isEditing = !this.isEditing
                this.isToggled = "block"
            },

            saveCard() {
                axios.put('/passwords/' + this.card.id, this.card).then(response => {
                    if(response.data.error) {
                        this.error = response.data.error
                    } else {
                        this.isEditing = false
                        this.error = false
                    }
                })
            },

            deleteCard() {
                this.isDeleted = true
                axios.delete('/passwords/' + this.card.id)

            },

            removeCard() {
                this.isRemoved = true
            },

            restoreCard() {
                this.isDeleted = false
                axios.put('/passwords/' + this.card.id)
            },

            toggleCard() {
                this.isToggled = (this.isToggled == "block" ? "none" : "block")
            },

            toggleShowPassword() {
                this.showPassword = !this.showPassword
            },

            copyPassword() {
                new clipboard('.copy-button')
                this.isCopied = true
                var self = this
                setTimeout(function() { self.isCopied = false }, 500)
            }
        }
    }
</script>