<template>
    <div v-if="!isHidden" class="notification is-danger" tabindex="-1">
        <button type="button" class="delete" @click.prevent="dismiss"></button>
        {{ error }}
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isHidden: false
            }
        },
        props: ['error'],
        methods: {
            dismiss() {
                this.isHidden = true
            }
        }
    }
</script>