
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

.navbar {
  margin: 0;
}

.button--clear {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;

  &:hover {
    background: #ccc;
  }
}

.lead-text {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.hero.is-primary .title {
  font-weight: bold;
}

.emoji.is-large {
  font-size: 2em;
  margin-right: .25em;
}

.features {
  margin-top: 1em;
}

.feature {
  display: flex;
}

.feature__text {
  line-height: 3em;
}